<!DOCTYPE html>
<html>
<head>
  <title>Lista de Vendas</title>
</head>
<body>
  <h1>Lista de Vendas</h1>
  <ul>
    <% for (let sale of sales) { %>
      <li>
        Produto: <%= sale.product %><br>
        Quantidade: <%= sale.quantity %><br>
        Preço: <%= sale.price %><br>
      </li>
    <% } %>
  </ul>
</body>
</html>
